<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8"/> 
  <title>sample_app</title>
</head>
<body>
  <header>
  оооооооооооо
  </header>
  <nav>
  </nav>
  <footer>
  </footer>
</body>
</html>